// Propiedades del grid
@grid-columns: 12;
@grid-pixel-root: 16px;
@grid-gutter-width: 1.5 * @grid-pixel-root;

// Tamaños de Pantallas
@screen-sm: (34 * @grid-pixel-root); //544px
@screen-md: (48 * @grid-pixel-root); //768px
@screen-lg: (62 * @grid-pixel-root); //992px
@screen-xl: (75 * @grid-pixel-root); //1200px

// Tamaños maximos de `.container`
// small / smartphones
@container-phone:             (34 * @grid-pixel-root + @grid-gutter-width); //568px
@container-sm:                 @container-phone;

// medium / tablets
@container-tablet:            (45 * @grid-pixel-root + @grid-gutter-width); //744px
@container-md:                 @container-tablet;

// large / desktop
@container-desktop:           (60 * @grid-pixel-root + @grid-gutter-width); //984px
@container-lg:                 @container-desktop;

// xtra large / wide desktop
@container-large-desktop:     (72.25 * @grid-pixel-root + @grid-gutter-width); //1180px
@container-xl:                 @container-large-desktop;
